---

---

<div class="service-introduction">
  <p>
    From the initial design phase to the finishing touches, we adhere to the
    highest industry standards. Our skilled team combines technical expertise
    with an unwavering eye for detail. Whether it’s a historic restoration, a
    modern addition, or a custom application, we pour our passion into every
    project. Trust us to elevate your vision, one concrete masterpiece at a
    time.
  </p>
  <a href = "/about-us" aria-label ="About Us">LEARN MORE</a>
</div>

<style>
  .service-introduction {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }

  .service-introduction p {
    font-size: 20px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.04235rem;
    margin-left: 7rem;
    font-family: "Gotham", sans-serif;
  }

  .service-introduction a {
    display: block;
    border: none;
    font-family: "Gotham", sans-serif;
    background-color: #eb4e4e;
    color: var(--white);
    font-size: 14px;
    padding: 15px 25px;
    margin-top: 15px;
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    letter-spacing: 0.04235rem;
    margin-left: 7rem;
    text-decoration: none;

    width: 160px;
  }

  .service-introduction p button:hover {
    background-color: #ff2b2b;
  }

  @media (max-width: 1080px) {
    .service-introduction {
      margin-top: 5rem;
    }
    .service-introduction p {
      margin-left: 1rem;
      padding: 0 10px;
      margin-bottom: 20px;
      /* text-align: center; */
    }

    .service-introduction a {
      margin-left: 1rem;
    }
  }

  @media (max-width: 700px) {
    .service-introduction {
      margin-top: 2rem;
    }
    .service-introduction p {
      margin-left: 0;
      padding: 0 10px;
      margin-bottom: 20px;
      /* text-align: center; */
    }

    .service-introduction a {
      margin-left: 0;
    }
  }

  @media (max-width: 500px) {
    .service-introduction p {
      font-size: 14px;
      padding: 0;
    }

    .service-introduction a {
      font-size: 13px;
      padding: 10px 20px;
      width: 140px;
    }
  }
</style>
