---

---

<div class="service-introduction">
  <p>
    Rockford Construction develops, builds and manages spaces that make a
    positive impact on our team, our clients and our communities.
    <button>LEARN MORE</button>
  </p>
</div>

<style>
  .service-introduction {
    width: 100%;
    margin-top: 7rem;
  }

  .service-introduction p {
    font-size: 20px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.04235rem;
    margin-left: 7rem;
    font-family: "Gotham", sans-serif;
  }

  .service-introduction p button {
    display: block;
    border: none;
    font-family: "Gotham", sans-serif;
    background-color: #ff6b6b;
    color: var(--white);
    font-size: 14px;
    padding: 15px 25px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    letter-spacing: 0.04235rem;
  }

  .service-introduction p buutton:hover {
    background-color: #ff2b2b;
  }

  @media (max-width: 1080px) {
    .service-introduction {
      margin-top: 5rem;
    }
    .service-introduction p {
      margin-left: 0;
      padding: 0 10px;
      margin-bottom: 20px;
      /* text-align: center; */
    }
  }

  @media (max-width: 700px) {
    .service-introduction {
      margin-top: 2rem;
    }
    .service-introduction p {
      margin-left: 0;
      padding: 0 10px;
      margin-bottom: 20px;
      /* text-align: center; */
    }
  }

  @media (max-width: 500px) {
    .service-introduction p {
      font-size: 16px;
    }
  }
</style>
