---

---

<div class="titleContainer">
  <h3>Services</h3>
  <!-- <h1>Shape Your Vision</h1> -->
</div>

<!-- <div class="services-presentation"></div> -->

<style>
  .titleContainer {
    margin-top: 40px;
    margin-bottom: 0;
    width: 100%;
  }

  .titleContainer h3 {
    font-family: "lmaison";
    font-weight: lighter;
    margin-bottom: 15px;
    margin-left: 7rem;
    font-size: 40px;
  }

  .titleContainer h1 {
    font-family: "lmaison";
    font-size: 56px;
    font-weight: 700;
  }

  .services-presentation {
    width: 100%;
    height: 600px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/julian-hochgesang-vjbfxskyrns-unsplash.webp");
  }

  .service-presentation div {
    opacity: 0.9;
    border-bottom-right-radius: 780%;
    /* // border-top-right-radius: 15%; */

    width: 50%;
    height: 270px;
    background-color: var(--white);
    position: absolute;
    top: -1;

    padding-top: 40px;
    padding-left: 150px;
    padding-right: 60px;
    box-sizing: border-box;
  }

  .service-presentation div h5 {
    margin-bottom: 10px;
    font-family: "Gotham", sans-serif;
  }

  .service-presentation div h1 {
    font-weight: 800 !important;
    font-family: "Gotham", sans-serif;

    font-size: 54px;
    word-break: keep-all;
    letter-spacing: 0.08471rem;

    display: inline-block;
  }

  @media (max-width: 1080px) {
    
    .titleContainer h3 {
      margin-left: 0;
    }
  }

  @media (max-width: 1000px) {
    .titleContainer {
      margin-top: 100px;
    }
  }



  @media (max-width: 800px) {
    .titleContainer h1 {
      font-size: 40px;
    }

    .services-presentation {
      height: 500px;
    }

    .service-presentation div {
      width: 100%;
      height: 200px;
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .service-presentation div h1 {
      font-size: 30px;
    }
  }
</style>
