---
import images from "../../images";
import Arrow from "../../assets/icons/arrow.icon.astro";
const { title, image } = Astro.props;
import Image from "astro/components/Image.astro";
---

<div class="serviceItem">
  <Image src={image} alt={title} width={380} height={400} />
  <h1>{title}</h1>

  <p>
    <slot />
  </p>

  <a href="/contact-us">Order Now <Arrow class="icon" /> </a>
</div>

<style>
  .serviceItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 380px;
    margin-bottom: 40px;
  }

  .serviceItem h1 {
    font-size: 24px;
    font-weight: bold;
    font-family: "Avenir";
    margin-bottom: 14px;
    margin-top: 14px;
    text-align: left;
    width: 100%;
    min-height: 58px;
  }

  .serviceItem p {
    width: 100%;
    text-align: center;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
    font-family: "Avenir";
    min-height: 130px;
  }

  .serviceItem img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 15px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 40px), 0 100%);
  }

  .serviceItem a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    font-family: "Avenir";
    text-decoration: none;
    text-align: left;
  }

  .serviceItem a .icon {
    margin-left: 5px;
    color: var(--main-color);
  }

  @media screen and (max-width: 1340px) {
    .serviceItem {
      max-width: 340px;
    }

    .serviceItem p {
      min-height: 160px;
    }
  }

  @media screen and (max-width: 1180px) {
    .serviceItem {
      max-width: 320px;
    }
  }

  @media screen and (max-width: 700px) {
    .serviceItem {
      max-width: 280px;
    }

    .serviceItem p {
      min-height: inherit;
    }
  }

  @media screen and (max-width: 500px) {
    .serviceItem {
      max-width: 320px;
    }
  }
</style>
