---
import AboutUsPrincipal from "../components/about-us/AboutUsPrincipal.astro";
import Layout from "../layouts/Layout.astro";
import Mision from "../components/about-us/Mision.astro";
import Process from "../components/about-us/Process.astro";
---

<script>
  document.title = "About Us";
</script>

<Layout>
  <main class="about-us">
    <AboutUsPrincipal />
    <Mision />
    <Process />
  </main>
</Layout>p
