---
import AboutUsPrincipal from "../components/about-us/AboutUsPrincipal.astro";
import Layout from "../layouts/Layout.astro";
import Mision from "../components/about-us/Mision.astro";
import Process from "../components/about-us/Process.astro";
---

<Layout>
  <main class="about-us">
    <AboutUsPrincipal />
    <Mision />
    <Process />
  </main>
</Layout>

<style>
  .about-us {
    
  }
</style>
