---
import AboutUsPrincipal from "../components/about-us/AboutUsPrincipal.astro";
import Layout from "../layouts/Layout.astro";
import Mision from "../components/about-us/Mision.astro";
import Process from "../components/about-us/Process.astro";
---

<script>
  document.title = "About Us";
</script>

<Layout>
  <main class="about-us">
    <AboutUsPrincipal />
    <Mision />
    <Process />
  </main>
</Layout>

<style>
  .about-us {
    background-color: #1E1E1E;
  }
  @font-face {
    font-family: "Gotham";
    src: url("/fonts/gotham-medium.woff2") format("woff2");
    font-weight: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Gotham";
    src: url("/fonts/Gotham-Light.otf");
    font-weight: 200;
    font-display: swap;
  }

  @font-face {
    font-family: "Gotham";
    src: url("/fonts/Gotham-Thin.otf");
    font-weight: 100;
    font-display: swap;
  }

  @font-face {
    font-family: "Gotham";
    src: url("/fonts/gotham-black.woff2") format("woff2");
    font-weight: bold;
    font-display: swap;
  }

  @font-face {
    font-family: "Gotham";
    src: url("/fonts/gotham-book.woff2") format("woff2");
    font-weight: 300;
    font-display: swap;
  }

  @font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Light.ttf") format("ttf");
    font-weight: 300;
    font-display: swap;
  }
</style>
