---
import Layout from "../layouts/Layout.astro";
import images from "../../public/images";
import Information from "../components/contact-us/ContactInformation.astro";
import ContactForm from "../components/contact-us/ContactForm.astro";
import ImageResponsive from "../components/ImageResponsive.astro";
---

<script>
  document.title = "Contact Us";
</script>

<Layout>
  <div class="contact-us">
    <ImageResponsive
      defaultImage={images.contactUs}
      mediumImage={images.contactUsMedium}
      smallImage={images.contactUsSmall}
      alt="Contact Us"
    />

    <div class="container">
      <h1>Contact Us</h1>
      <div class="body">
        <ContactForm />
        <Information />
      </div>
    </div>
  </div>
</Layout>

<style>
  .contact-us {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color:red;
  }

  .contact-us img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .contact-us::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
  .contact-us .container {
    position: relative;
    z-index: 1000;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: #f1f1f1;
    margin-top: 60px;
    width: 60%
  }
  .contact-us .container h1 {
    margin-bottom: 20px;
  }
  .contact-us .container .body {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 30px;
  }
  @media (max-width: 900px) {
    .contact-us .container {
      width: 90%;
      padding: 20px;
    }

    .contact-us .container .body {
      padding: 0;
    }
  }
  @media (max-width: 760px) {
    .contact-us {
      height: auto;
      padding: 20px;
      padding-top: 100px;
    }
    .contact-us .container .body {
      flex-direction: column-reverse;
      align-items: center;
    }
  }
  @media (max-width: 450px) {
    .contact-us {
      padding: 10px;
      padding-top: 100px;
    }
    .contact-us .container {
      width: 100%;
    }
  }
  @media (max-width: 380px) {
    .contact-us .container .body form {
      width: 100%;
    }
  }
</style>

