---
import Layout from "../layouts/Layout.astro";
import ImagePresentation from "../components/index/ImagePresentation.astro";
import Videos from "../components/index/Videos.astro";
import ContactUs from "../components/index/ContactUs.astro";
import AboutPresentation from "../components/index/AboutPresentation.astro";
import Opinions from "../components/index/Opinions.astro";
---

<script>
  document.title = "Home";
</script>

<Layout>
  <main class="mainPage">
    <ImagePresentation />

    <div class="body">
      <AboutPresentation />

      <Videos />

      <ContactUs />

      <Opinions />
    </div>
  </main>
</Layout>

<style>
  .mainPage {
    background:
      linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
      linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
      linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
      linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
      linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
      linear-gradient(
        #1d1d1d 25%,
        #1a1a1a 25%,
        #1a1a1a 50%,
        transparent 50%,
        transparent 75%,
        #242424 75%,
        #242424
      );
    background-color: #131313;
    background-size: 20px 20px;
    background-size: 20px 20px;
  }
</style>
