---
import Layout from "../layouts/Layout.astro";
import ImagePresentation from "../components/index/ImagePresentation.astro";
import Videos from "../components/index/Videos.astro";
import ContactUs from "../components/index/ContactUs.astro";
import AboutPresentation from "../components/index/AboutPresentation.astro";
import Opinions from "../components/index/Opinions.astro";
---

<script>
  document.title = "Home";
</script>

<Layout>
  <main class="mainPage">
    <ImagePresentation />

    <div class="body">
      <AboutPresentation />

      <Videos />

      <ContactUs />

      <Opinions />
    </div>
  </main>
</Layout>
