---
import Layout from "../layouts/Layout.astro";
import ImagePresentation from "../components/index/ImagePresentation.astro";
import ExampleVideo from "../components/index/ExampleVideo.astro";
import Videos from "../components/index/Videos.astro";
import ContactUs from "../components/index/ContactUs.astro";
import Services from "../components/index/Services.astro";

import "../styles/global.css";
import AboutPresentation from "../components/index/AboutPresentation.astro";
---

<Layout>
  <main class="mainPage">
    <ImagePresentation />

    <div class="body">
      <AboutPresentation />


      <Videos />

      <ContactUs />
    </div>
  </main>

  <style>
    .mainPage {
      transition: height 2s ease-in-out;
    }
  </style>
</Layout>
