---
import Layout from "../layouts/Layout.astro";
import ImagePresentation from "../components/index/ImagePresentation.astro";
import Videos from "../components/index/Videos.astro";
import ContactUs from "../components/index/ContactUs.astro";
import AboutPresentation from "../components/index/AboutPresentation.astro";
import Opinions from "../components/index/Opinions.astro";
---

<script>
  document.title = "Home";
</script>

<Layout>
  <main class="mainPage">
    <ImagePresentation />

    <div class="body">
      <AboutPresentation />

      <Videos />

      <ContactUs />

      <Opinions />
    </div>
  </main>
</Layout>

<style>
  @font-face {
    font-family: "Barlow";
    src: url("/fonts/Barlow-Regular.ttf");
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: "Barlow";
    src: url("/fonts/Barlow-Light.ttf");
    font-weight: light;
    font-display: swap;
  }

  @font-face {
    font-family: "Barlow";
    src: url("/fonts/Barlow-Thin.ttf");
    font-weight: thin;
    font-display: swap;
  }

  @font-face {
    font-family: "Gotham";
    src: url("/fonts/Gotham-Thin.otf");
    font-weight: 100;
    font-display: swap;
  }

  @font-face {
    font-family: "Gotham";
    src: url("/fonts/gotham-black.woff2") format("woff2");
    font-weight: bold;
    font-display: swap;
  }

  @font-face {
    font-family: "Gotham";
    src: url("/fonts/gotham-book.woff2") format("woff2");
    font-weight: 300;
    font-display: swap;
  }
</style>
