---
import Layout from "../layouts/Layout.astro";
import images from "../images";
import ServicePageItem from "../components/services/ServicePageItem.astro";
import PresentationBanner from "../components/services/PresentationBanner.astro";
import Introduction from "../components/services/Introduction.astro";
import FrequentQuestions from "../components/services/FrequentQuestions";
const concreteData = [
  {
    title: "Concrete Restoration & Waterproofing",
    image: images.waterproofing.src,
    description:
      "We specialize in restoring and waterproofing concrete structures. Whether it’s repairing cracks, reinforcing foundations, or applying protective coatings, we ensure longevity and resilience.",
  },

  {
    title: "Concrete Works",
    image: images.concrete.src,
    description:
      "Our expertise extends to all aspects of concrete construction. From pouring foundations to creating custom designs, we bring precision and creativity to every project.",
  },

  {
    title: "Driveways & Floors",
    image: images.driveway.src,
    description:
      "Need a stunning driveway or durable flooring? Look no further. We craft driveways that enhance curb appeal and floors that withstand daily wear and tear.",
  },

  {
    title: "Home & Apartment Renovations",
    image: images.home.src,
    description:
      "Transforming living spaces is our passion. Whether it’s a cozy apartment or a spacious home, we handle renovations with care, from layout adjustments to aesthetic upgrades.",
  },

  {
    title: "Home Additions",
    image: images.additions.src,
    description:
      "Expanding your property? We’re here to help. Our team designs and constructs thoughtful additions, seamlessly integrating them with your existing structure.",
  },
];
---

<script>
  function scrollToSection(sectionId) {
    var section = document.getElementById(sectionId);
    if (sectionId && section) {
      window.scrollTo({
        top: section.offsetTop - 100,
        behavior: "smooth",
      });
    }
  }

  const initialize = () => {
    const urlParams = new URLSearchParams(window.location.search);
    const option = urlParams.get("option");

    if (option) {
      scrollToSection(option);
    }
  };

  initialize();
</script>
<Layout>
  <main class="servicesPage">
    <PresentationBanner />

    <Introduction />

    <div class="serviceSection">
      <div class="servicesContainer">
        {
          concreteData.map((service, index) => (
            <ServicePageItem
              title={service.title}
              image={service.image}
              key={index}
            >
              {service.description}
            </ServicePageItem>
          ))
        }
      </div>
    </div>

    <FrequentQuestions client:load />
  </main>
</Layout>

<style>
  .servicesPage {
    background-color: var(--white);
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
      linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 250px 250px;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
  }

  .serviceSection {
    margin-top: 50px;
    margin-bottom: 40px;
    width: 100%;
    /* background-color: red; */
  }

  .serviceSection h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    font-weight: 200;
    text-align: center;
  }
  .servicesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    justify-items: center;

    width: 100%;
  }

  @media screen and (max-width: 1180px) {
    .serviceSection .servicesContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      align-items: center;
      justify-items: center;
    }
  }

  @media (max-width: 1000px) {
    .servicesPage {
      padding: 10px;
    }
  }

  @media (max-width: 530px) {
    .serviceSection .servicesContainer {
      grid-template-columns: 1fr;
    }
  }
</style>
