---
import Layout from "../layouts/Layout.astro";
import ServicePageItem from "../components/services/ServicePageItem.astro";
import PresentationBanner from "../components/services/PresentationBanner.astro";
import Introduction from "../components/services/Introduction.astro";
import FrequentQuestions from "../components/services/FrequentQuestions";
import staticData from "../static";
---

<Layout>
  <main class="servicesPage">
    <PresentationBanner />

    <Introduction />

    <div class="serviceSection">
      <div class="servicesContainer">
        {
          staticData.concreteData.map((service, index) => (
            <ServicePageItem
              title={service.title}
              image={service.image}
              key={index}
            >
              {service.description}
            </ServicePageItem>
          ))
        }
      </div>
    </div>

    <FrequentQuestions client:load />
  </main>
</Layout>

<style>
  .servicesPage {
    background-color: var(--white);
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
      linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 250px 250px;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
  }

  .serviceSection {
    margin-top: 50px;
    margin-bottom: 40px;
    width: 100%;
    /* background-color: red; */
  }

  .serviceSection h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    font-weight: 200;
    text-align: center;
  }
  .servicesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    justify-items: center;

    width: 100%;
  }

  @media screen and (max-width: 1180px) {
    .serviceSection .servicesContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      align-items: center;
      justify-items: center;
    }
  }

  @media (max-width: 1000px) {
    .servicesPage {
      padding: 10px;
    }
  }

  @media (max-width: 530px) {
    .serviceSection .servicesContainer {
      grid-template-columns: 1fr;
    }
  }
</style>
