---
import Layout from "../layouts/Layout.astro";
import PresentationBanner from "../components/services/PresentationBanner.astro";
import Introduction from "../components/services/Introduction.astro";
import FrequentQuestions from "../components/services/FrequentQuestions";
import ContentSection from "../components/services/ContentSection.astro";
---

<script>
  document.title = "Services";
</script>

<Layout>
  <main class="servicesPage">
    <PresentationBanner />

    <Introduction />

    <ContentSection />

    <FrequentQuestions client:load />
  </main>
</Layout>

<style>
  @font-face {
    font-family: "Avenir";
    src: url("/fonts/AvenirNextCyr-Demi.ttf");
    font-weight: bold;
    font-display: swap;
  }
  @font-face {
    font-family: "Gotham";
    src: url("/fonts/Gotham-Thin.otf");
    font-weight: 100;
    font-display: swap;
  }

  @font-face {
    font-family: "Gotham";
    src: url("/fonts/gotham-black.woff2") format("woff2");
    font-weight: bold;
    font-display: swap;
  }

  @font-face {
    font-family: "Gotham";
    src: url("/fonts/gotham-book.woff2") format("woff2");
    font-weight: 300;
    font-display: swap;
  }
  @font-face {
    font-family: "lmaison";
    src: url("/fonts/MaisonNeueExtended-Light.otf");
    font-display: swap;
  }
  .servicesPage {
    background-color: var(--white);
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
      linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 250px 250px;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
  }

  @media (max-width: 1000px) {
    .servicesPage {
      padding: 10px;
    }
  }
</style>
