---
---

<div class="links-desktop">
  <a href="/about-us">About Us</a>

  <a href="/services">Services</a>

  <a href="/contact-us">Contact Us</a>
</div>

<style>
  :global(.navbar-v2.services a, .navbar-v2.about-us a) {
    color: var(--main-bg-color) !important;
  }

  :global(.navbar-v2 a) {
    color: var(--white);
    text-decoration: none;
    font-family: "maison";
    font-size: 18px;
    margin-right: 40px;
    letter-spacing: normal;
    display: flex;
    align-items: center;
    height: 100%;
  }

  div {
    display: flex;
  }

  @media (max-width: 1000px) {
    .links-desktop {
      display: none;
    }
  }
</style>
