---
import icon from "../../public/images/marosicon1-light.webp";
import InstagramIcon from "../assets/icons/instagram.icon.astro";
import LocationIcon from "../assets/icons/location.icon.astro";
import PhoneIcon from "../assets/icons/phone.icon.astro";
import MailIcon from "../assets/icons/mail.icon.astro";
import Image from "astro/components/Image.astro";
---

<footer class="footer-distributed">
  <div class="footer-left">
    <Image src={icon} alt="icon" class="image" width={160} height={70} />

    <p class="footer-links">
      <a href="/" class="link-1" aria-label="Home">Home</a>
      <a href="/about-us" aria-label="About Us"> About</a>
      <a href="/services" aria-label="Services">Services</a>
      <a href="/contact-us" aria-label="Contact Us">Contact</a>
    </p>

    <p class="footer-company-name">Maros Construction © 2024</p>
  </div>

  <div class="footer-center">
    <div>
      <LocationIcon class="icon" />
      <p>South Florida, FL, USA</p>
    </div>

    <div>
      <PhoneIcon class="icon" />
      <p>(786) 707-0815</p>
    </div>

    <div>
      <MailIcon class="icon" />
      <p>info@marosconstruction.com</p>
    </div>
  </div>

  <div class="footer-right">
    <div class="footer-icons">
      <a
        href="https://www.instagram.com/maros_construction/"
        target="_blank"
        aria-label="See our Instagram page"
      >
        <InstagramIcon />
      </a>
    </div>
  </div>

  <style>
    .footer-distributed {
      background: var(--main-bg-color);
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      font: bold 16px sans-serif;
      padding: 55px 50px;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
      display: inline-block;
      vertical-align: top;
    }

    .footer-distributed .footer-left {
      width: 40%;
    }

    .footer-distributed .footer-links {
      color: #ffffff;
      margin: 20px 0 12px;
      padding: 0;
    }

    .footer-distributed .footer-links a {
      display: inline-block;
      line-height: 1.8;
      font-weight: 400;
      text-decoration: none;
      color: inherit;
      border-right: 1px solid white; /* Agregar borde blanco */
      padding: 0 10px; /* Agregar espaciado horizontal */
    }

    .footer-distributed .footer-links a:first-child {
      padding-left: 0;
    }

    .footer-distributed .footer-links a:last-child {
      border: none;
      padding-right: 0;
    }

    .footer-distributed .footer-company-name {
      color: #8f9296;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
    }

    .footer-distributed .footer-center {
      width: 35%;
    }

    .footer-distributed .footer-center .icon {
      background-color: #33383b;
      color: #ffffff;
      font-size: 25px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
      vertical-align: middle;
    }

    .footer-distributed .footer-center p {
      display: inline-block;
      color: #ffffff;
      font-weight: 400;
      vertical-align: middle;
      margin: 0;
    }

    .footer-distributed .footer-right {
      width: 20%;
    }

    .footer-distributed .footer-icons {
      margin-top: 25px;
    }

    .footer-distributed .footer-icons a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 38px;
      height: 38px;
      cursor: pointer;
      background-color: #33383b;
      border-radius: 2px;
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;
      margin-right: 3px;
      margin-bottom: 5px;
    }

    @media (max-width: 880px) {
      .footer-distributed {
        font: bold 14px sans-serif;
      }

      .footer-distributed .footer-left,
      .footer-distributed .footer-center,
      .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
      }

      .footer-distributed .footer-center .icon {
        margin-left: 0;
      }
    }
  </style>
</footer>
