---
import { Image } from "astro:assets";
import images from "../../../public/images";
---

<section class="principal">
  <div>
    <h1>Who Are We?</h1>

    <picture>
      <source
        srcset={images.imageMediumAboutUsPrincipal.src}
        media="(max-width: 1050px)"
        type="image/webp"
      />
      <source
        srcset={images.imageSmallAboutUsPrincipal.src}
        media="(max-width: 500px)"
        type="image/webp"
      />
      <Image
        src={images.imageAboutUsPrincipal}
        alt="sampleImage"
        class="background-image"
        width={1200}
        height={1000}
        loading="eager"
      />
    </picture>

    <p>
      At Maros Construction, we’re more than just builders; we’re creators,
      problem solvers, and visionaries. Our passion lies in concrete
      craftsmanship and transforming spaces, one project at a time. Whether it’s
      restoring historical landmarks, renovating homes, or constructing
      driveways, we bring expertise, dedication, and a touch of Colombian flair
      to every endeavor.
    </p>
  </div>
</section>

<style>
  .principal {
    height: 100vh;
    width: 100%;
    padding-top: 90px;
    position: relative;
    padding-top: 15%;
    padding-left: 7%;
  }

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .principal div {
    width: 53%;
  }

  .principal h1,
  .principal p {
    color: var(--white) !important;
    position: relative;
    z-index: 199;
  }

  .principal h1 {
    font-size: 3.4rem;
    margin-bottom: 45px;
    font-family: "Gotham";
    word-spacing: 5px;
  }

  .principal p {
    font-size: 1.2rem;
    line-height: 1.75;
    width: 80%;
    font-family: "Roboto";
  }

  .principal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
  }

  @media (max-width: 1150px) {
    .principal div {
      width: 60%;
    }
  }

  @media (max-width: 1000px) {
    .principal {
      padding: 0;
      height: 100%;
      background-color: var(--main-bg-color);
      background-image: none;
    }

    .principal::before {
      display: none;
    }

    .principal div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 100%;
      left: inherit;
      position: relative;
      top: inherit;
      padding: 0;
    }

    .principal .background-image {
      position: relative;
    }

    .principal h1 {
      font-size: 2.5rem;
      text-align: left;
      font-weight: 300;
      margin-left: 20px;
      margin-top: 120px;
    }

    .principal p {
      font-size: 16px;
      font-weight: 200;
      text-align: justify;
      line-height: 36px;
      margin-bottom: 15px;
      -webkit-font-smoothing: antialiased;
      width: 100%;
      padding: 10px 30px;
      font-family: "Gotham";
    }
  }
</style>
