---
import Image from "astro/components/Image.astro";
import images from "../../images";
---

<section>
  <div class="mision">
    <Image src={images.about1} alt="Journey" />

    <div class="container">
      <h1>Our Journey</h1>

      <p>
        Founded by Colombian immigrants with over 5 years of construction
        experience, Maros began as a small renovation company focused on
        apartment buildings. Our commitment to quality craftsmanship and client
        satisfaction quickly earned us a reputation in South Florida. As our
        portfolio expanded, so did our services. Today, we specialize in
        differents types of jobs of concrete such as concrete restauration,
        concrete slabs, driveways etc.
      </p>
    </div>
  </div>

  <div class="mision">
    <Image src={images.about2} alt="Journey" />

    <div class="container">
      <h1>Why Choose Maros?</h1>

      <ul>
        <li>
          1. <b>Expertise</b>: Our team combines Colombian craftsmanship with
          modern techniques, especially in the realm of concrete.
        </li>

        <li>
          2. <b>Passion</b>: We treat each project as if it were our own,
          ensuring attention to detail and excellence.
        </li>

        <li>
          3. <b>Community</b>: As immigrants, we understand the importance of
          building strong communities through our work.
        </li>

        <li>
          4. <b>Client-Centric Approach</b>: Your vision is our priority, and we
          tailor our services to meet your unique needs.
        </li>
      </ul>
    </div>
  </div>
</section>

<style>
  section {
    background-color: var(--main-bg-color);
  }

  .mision {
    display: flex;
    color: var(--white);
    box-sizing: content-box;
  }

  .mision:nth-child(2n) {
    flex-direction: row-reverse;
  }

  .mision .container:nth-child(2n) {
    padding: 20px 4%;
  }

  .mision h1 {
    font-size: 3rem;
    text-align: left;
    margin-top: 20px;
    font-weight: 500;
    width: 100%;
  }

  .container ul {
    list-style-type: none;
    margin: 30px 2%;
    width: 100%;
    max-height: 100%;
  }

  .mision ul li {
    font-size: 18px;
    text-align: left;
    line-height: 1.75;
    font-weight: 200;
    font-family: "Gotham";
    width: 100%;
    margin-bottom: 10px;
  }

  .mision .container {
    display: flex;
    flex-direction: column;
    padding: 20px 7%;
    width: 43%;
  }

  .mision .container p {
    font-size: 18px;
    text-align: left;
    margin: 20px 10%;
    line-height: 1.75;
    font-weight: 200;
    font-family: "Gotham";
    width: 100%;
  }

  .mision img {
    width: 57%;
    height: 100% !important ;
  }

  .mision .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mision p,
  .mision h1 {
    font-family: "Gotham";
  }

  @media (max-width: 1520px) {
    .mision img {
      width: 54%;
    }

    .mision .container {
      width: 46%;
    }
  }

  @media (max-width: 1420px) {
    .mision h1 {
      font-size: 2.5rem;
    }

    .mision .container p {
      margin: 20px 5%;
      font-size: 16px;
    }

    .mision ul li {
      font-size: 16px;
    }
  }

  @media (max-width: 1290px) {
    .mision {
      height: calc(100vh - 400px);
    }
    .mision img {
      width: 50%;
    }

    .mision .container {
      width: 50%;
    }

    .mision .container ul {
      margin: 20px 1%;
    }
  }

  @media (max-width: 1100px) {
    .mision,
    .mision:nth-child(2n) {
      height: auto;
      flex-direction: column;
    }

    .mision img {
      width: 100%;
      height: 500px !important;
      object-fit: cover;
    }

    .mision .container {
      width: 100%;
    }
  }

  @media (max-width: 1000px) {
    .mision p {
      margin: 20px 5%;
      line-height: 1.8;
    }

    .mision h1 {
      font-size: 2rem;
    }

    .mision {
      height: fit-content;
    }
  }

  @media (max-width: 890px) {
    .mision img {
      height: 300px !important;
    }
  }
</style>
