---

---

<section class="mision">
  <h1>Our Mission</h1>

  <p>
    Our mission at Maros Construction is to transform your vision into a
    reality. As a General Contractor specializing in concrete work and full
    renovations for residential and commercial projects, we take pride in our
    organized and dedicated team. We collaborate closely with our clients from
    project conception to final delivery, ensuring transparency and unwavering
    commitment every step of the way. Your peace of mind is our priority.
  </p>
</section>

<style>
  .mision {
    height: 220px;
    margin-top: 20px;
  }

  .mision h1 {
    font-size: 2.5rem;
    color: #000;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
  }

  .mision p {
    font-size: 18px;
    color: #000;
    text-align: center;
    margin: 20px 10%;
    line-height: 1.5;
    font-weight: 200;
    font-family: "Gotham";
  }

  .mision p,
  .mision h1 {
    font-family: "Gotham";
  }

  @media (max-width: 1000px) {
    .mision p {
      margin: 20px 5%;
      line-height: 1.8;
    }

    .mision h1 {
      font-size: 2rem;
    }

    .mision {
      height: fit-content;
    }
  }
</style>
