@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular.ttf");
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --white: #e8e8e8;
  --main-bg-color: #222831;
  --main-color: #c40d3b;
}
html {
  padding: 0 !important;
  margin: 0 !important;
}

body {
  height: 100vh;
  background-color: var(--white);
}
