---
import ContactForm from "./contactForm.astro";
---

<section class="contact">
  <div>
    <p>We want to get to know you and for you to know us</p>
    <h2>
      Get a <span>free</span> consultation
    </h2>
  </div>

  <ContactForm />
</section>

<style>
  .contact {
    display: flex;
    height: 700px;
    background-image: url("/images/startae-team-7tXA8xwe4W4-unsplash.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }

  .contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .contact div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px;
    margin-bottom: 30px;
  }

  .contact div h2,
  .contact div p {
    color: var(--white);
    font-family: "Barlow";
    text-align: center;
    z-index: 1000;
  }

  .contact div h2 {
    font-size: 2.5em;
    position: relative;
  }

  .contact div h2 span {
    color: var(--main-color);
  }

  .contact div p {
    font-size: 1.5em;
    padding: 10px 30px;
  }

  @media screen and (max-width: 950px) {
    .contact div h2 {
      font-size: 2em;
    }

    .contact div p {
      font-size: 1.2em;
    }
  }

  @media screen and (max-width: 790px) {
    .contact div {
      padding: 20px 0;
    }
  }

  @media screen and (max-width: 660px) {
    .contact div {
      display: none;
    }
  }
</style>
