---
let { src } = Astro.props;
---

<div class="outer">
  <video autoplay muted loop class="video">
    <source src={src} type="video/webm" /></video
  >
</div>
<style>
  .outer {
    width: 400px;
    height: 580px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin-right: 15px;
  }

  .outer:last-child {
    margin-right: 0;
  }
  .outer .video {
    position: relative;
    left: 0;
    top: 0;
    opacity: 1;
    object-fit: cover !important;
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 1200px) {
    .video {
      width: 355px;
      height: 532.5px;
    }
  }

  @media screen and (max-width: 1000px) {
    .outer {
      width: 400px;
      height: 620px;
      margin-bottom: 30px;
      margin-right: 0;
    }
  }

  @media screen and (max-width: 770px) {
    .outer {
      width: 350px;
      height: 570px;
    }
  }

  @media screen and (max-width: 650px) {
    .outer {
      margin-bottom: 40px;
    }
  }

  @media screen and (max-width: 520px) {
    .outer {
      height: calc(var(--width) * 1.2);
      margin-bottom: 30px;
    }
  }


  @media screen and (max-width: 350px) {
    .outer {
      width: auto;
      height: 480px;
    }
  }
</style>
