---
import Image from "astro/components/Image.astro";
let { src, id } = Astro.props;
---

<a class="mobile-logo" href="/" id={id}>
  <Image src={src} width={150} height={65} alt="Maros Construction" loading="eager" />
</a>

<style>
  .mobile-logo {
    width: 150px;
    height: 65px;
    display: none;
  }

  .mobile-logo img {
    width: 100%;
    height: 100%;
  }

  .navbar-v2.services #dark {
    display: none !important;
  }

  @media (max-width: 1000px) {
    .mobile-logo {
      display: block;
    }
  }
</style>
