---
import Remodelation from "../../assets/icons/remodelation.icon.astro";

import Concrete from "../../assets/icons/concrete.icon.astro";
---

<section class="servicesHome">
  <div class="serviceItem">
    <Concrete class="icon" />
    <a>Concrete Solutions</a>
  </div>

  <div class="serviceItem">
    <Remodelation class="icon" />
    <a>Remodeling Solutions</a>
  </div>
</section>

<style>
  .servicesHome {
    height: 350px;
    width: 100%;
    display: flex;
    position: relative;
    color: var(--white);
  }

  .servicesHome .serviceItem a {
    position: relative;
    z-index: 100;
    background-color: var(--main-color);
    color: var(--white);
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  .servicesHome .serviceItem .icon {
    width: 50px;
    height: 50px;
    position: relative;
    fill: var(--white);
    margin-bottom: 20px;
  }

  .serviceItem {
    background-image: url("../../assets/images/concrete-1259094_1280.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 50%;
    display: inline-flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .servicesHome .serviceItem a:hover {
    background-color: #a8042e;
  }

  .serviceItem:nth-child(2) {
    background-image: url("../../assets/images/francesca-tosolini-I5uy6tQL4VM-unsplash.jpg");
  }

  .serviceItem::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    position: absolute;
  }
</style>
