---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <!-- <link rel="stylesheet" href="../styles/global.css" /> -->

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="preload"
      type="image/webp"
      fetchpriority="high"
      as="image"
      href="src/assets/images/imagePresentation1.webp"
    />

    <link
      rel="preload"
      type="image/webp"
      fetchpriority="high"
      as="image"
      href="src/assets/images/imagePresentation2.webp"
    />
    <meta name="generator" content={Astro.generator} />
  </>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style></style>
  </body>
</html>
