---
import "../../public/styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="/styles/global.css" />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href="/images/maros-icon.webp" />

    <link
      rel="preload"
      type="image/webp"
      fetchpriority="high"
      as="image"
      href="/images/1000249305_0194e.webp"
    />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style></style>
  </body>
</html>
